extends layout

block content
    #page-wrapper
        #page-inner
            .row
                .col-md-12
                    h1 Adicionado!
                
            // /. ROW
            hr
            a(href="/" class="btn btn-success") Voltar