extends layout

block content
    #page-wrapper
        #page-inner
            .row
                .col-md-12
                    h1= Index
                    h2 Integrantes do grupo           
                
            // /. ROW
            hr
            h2 Victor Reis Moreira
            p 9911465
            h2 Vinícius Shoiti Koike Graciliano
            p 9862972
            h2 Gabriel Di Pardi Arruda
            p 8921610
            h2 Guilherme Pereira dos Santos
            p 9911430
