extends layout

block content
    #page-wrapper
        #page-inner
            .row
                .col-md-12
                    h1= Index
                    h2 Integrantes do grupo           
                
            // /. ROW
            hr
            h2 Victor Moreira
            p 8921610   
            h2 Victor Shoit
            p 8921610
            h2 Gabriel Di Pardi Arruda
            p 8921610
            h2 Guilherme Pereira
            p 8921610